@import url(bootstrap.min.css);
/* line 5, ../_sass/app.scss */
h1, .jumbotron h1 { color: #2e3192; }

/* line 9, ../_sass/app.scss */
.jumbotron { background: #f6f6fc; }

/* line 13, ../_sass/app.scss */
header h1 { margin-bottom: 20px; }

/* line 17, ../_sass/app.scss */
.logo { text-indent: -119988px; overflow: hidden; text-align: left; display: block; width: 740px; height: 130px; background: url(../assets/images/logo-horizontal.png) 0 0 no-repeat; }

/* line 28, ../_sass/app.scss */
#main { padding: 0 0 50px 0; }

/* line 32, ../_sass/app.scss */
#map { height: 300px; margin-bottom: 30px; }

/* line 37, ../_sass/app.scss */
footer { padding: 20px 0 0 0; background: #f8f8f8; }
